# Add any directories, files, or patterns you don't want to be tracked by version control

#Compiled files
*.tfstate
*.tfstate.backup
*.zip
*.tar
*.tar.gz
.pw

#Module directory
.terraform/

#InteliJ
.idea

.DS_Store
